@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFCFB;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.brand {
    font-family: "Volkhov", serif;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    gap: 5px;
    padding: 10px 0px;

    a {
        text-decoration: none;
        color: black;
    }
}

.nav-list {
    display: flex;
    gap: 10px;


}

.nav-item {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;


    a {
        text-decoration: none;
        color: #222222;
        /* border: solid 1px #222222; */
        padding: 5px 8px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;

    }

}

.btn {

    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login,
.signup {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 20px;
    transition: all 0.3s ease-in-out;
}

.login {
    background-color: white;
    color: #FA7436;

    &:hover {
        background-color: rgb(224, 224, 224);
        color: #f75b13;
    }
}

.signup {
    background-color: #FA7436;
    color: white;

    &:hover {
        background-color: #d3581e;
        color: rgb(240, 234, 234);
    }
}
#menu{
    display: none;
}
/*------------------------------------------- media query of header ---------------------------------------------------- */

@media (max-width:320px) {

    .brand {
        font-size: 20px;
        font-weight: bold;
        margin: 0px 10px;
    }

    .nav-item {
        display: none;
    }

    .login,
    .signup {
        display: none;
    }
    #menu{
        margin: 0px 10px ;
    }

}
/* ------------------------------------------------------- hero ---------------------------------------------------------  */

.hero-top {
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-left {
    h1 {
        font-family: "Volkhov", serif;
        font-size: 60px;
        font-weight: bold;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        color: #666666;
    }
}

.journey {
    color: #FA7436;
}

.discover-now {
    border: solid 2px #FA7436;
    color: #FA7436;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    margin: 10px 0px;

    &:hover {
        background-color: #FA7436;
        color: white;
    }
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    width: 60%;
    position: relative;
    margin: 20px auto;
    /* border: #000000 solid 1px; */
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.explore {
    background-color: #FA7436;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #d3581e;
        color: rgb(240, 234, 234);
    }
}

.scroll {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.para {
    font-size: 12px;
    color: #666666;
}

.material-symbols-outlined {
    color: #FA7436;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #FEFCFB;
    padding: 10px 0px 50px;
}


/* ------------------------------------------- media query of hero ---------------------------------------------------- */


@media screen and (max-width: 320px) {
    .hero-top {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-left {
        h1 {
            font-size: 30px;
            font-weight: bold;
        }

        p {
            margin: 10px;
            font-size: 10px;
        }
    }

    .hero-right {
        img {
            width: 320px;

        }
    }


    .discover-now {
        margin: 20px 0px;
        font-size: 10px;
        padding: 10px 20px;
    }

}



/* ------------------------------------------------------- things you need to do --------------------------------------------------------- */

.things-you-need-to-do {
    padding: 30px 10px 100px;
    background-color: #F7F8FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tyntd-top-right {
    img {
        width: 100px;
        position: absolute;
        bottom: 50px;
    }
}

.tyntd-top {
    display: flex;
    gap: 20px;
    line-height: 54px;
    align-items: center;
    position: relative;
    margin: 50px 0px;

}

.tyntd-bottom {
    display: flex;
    gap: 10px;
    margin: 30px 0px;
}

.card-tyntd {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        color: #222222;
    }

    p {
        font-size: 16px;
        line-height: 26px;
        color: #666666;
    }
}

.tyntd-h1 {
    font-family: "Volkhov", serif;
    font-size: 48px;
}

.to-do {
    color: #FA7436;

}

.tyntd-p {
    font-family: "Poppins", sans-serif;
    color: #666666;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 500px;
}

/* ------------------------------------- media query of things you need to do -------------------------------------------- */

@media screen and (max-width: 320px) {
    .tyntd-h1 {
        font-size: 25px;
    }

    .tyntd-p {
        font-size: 10px;
        width: 300px;
    }

    .tyntd-top-right {
        img {
            width: 100px;
            position: absolute;
            bottom: 5px;
        }
    }

}

/* -------------------------------------------------- exclusive offers --------------------------------------------------- */
.exclusive {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;

    h1 {
        font-family: "Volkhov", serif;
        font-size: 48px;

    }

    span {
        color: #FA7436;
    }

    p {
        font-family: "Poppins", sans-serif;
        color: #666666;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        width: 500px;
    }
}

.dis-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;

    h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        color: #222222;
    }

    p {
        font-size: 16px;
        line-height: 26px;
        color: #666666;
    }
}

.deals-discounts {
    padding: 30px 10px 50px;
    background-color: #FEFCFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dis-card-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.underline {
    text-decoration: line-through;
}

.old-price {
    color: #999999;
}

.cr {
    color: #FA7436;
}

.location_on {
    color: #999999;
    font-size: 10px;
}

#london,
#rome,
#Firenze,
#madrid {
    font-size: 17px;
}


.dis-btm-ctn-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.arrow {
    background-color: white;
    color: #FA7436;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    &:active {
        background-color: #FA7436;
        color: rgb(240, 234, 234);
    }
}

.arrows {
    padding: 20px;
}






/* -------------------------------------------- media query of exclusive offers -------------------------------------------- */



/* ---------------------------------------------------  vacation plan  ------------------------------------------------- */


.vp-top {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.vp-top-right {
    position: absolute;
    left: 470px;
}

.vp-top-left {
    h1 {
        font-family: "Volkhov", serif;
        font-size: 48px;
        padding: 10px 0px;
    }

    p {
        font-family: "Poppins", sans-serif;
        color: #666666;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        width: 500px;
        padding: 10px 0px 20px;
    }

}

.vacation {
    color: #FA7436;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;



    .card-ctn-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Poppins", sans-serif;
        width: 200px;

        h4 {
            font-weight: 500;
        }

        span {
            font-weight: 600;
            color: #FA7436;

        }

    }

    .card-ctn-btm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 150px; */
        font-family: "Poppins", sans-serif;
        color: #666666;


        .card-ctn-btm-left {
            font-weight: 500;

        }

        .card-ctn-btm-right {
            font-weight: 400;
        }
    }
}

.card-img {
    width: 220px;
    border-radius: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-ctn {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.vaction-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.vacation-btm {
    width: 1000px;
}

/* -------------------------------------------------- media query of vacation plan ------------------------------------- */

@media screen and (max-width: 360px) {

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}







/* -------------------------------------------------- about us -------------------------------------------------------- */

.about-us {
    display: flex;
    background-color: #F7F8FC;
    padding: 200px 10px 200px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .about-us-left {
        h1 {
            font-family: "Volkhov", serif;
            font-size: 48px;

            span {
                color: #FA7436;
            }
        }

        p {
            font-family: "Roboto", sans-serif;
            color: #666666;
            font-size: 16px;
            line-height: 32px;
            text-align: left;
            width: 500px;
        }

    }

    .about-us-right {
        font-family: "Poppins", sans-serif;
        position: relative;
        width: 500px;
        /* border: black solid 1px; */



    }

    .about-right-card {
        position: absolute;
        right: 200px;
        bottom: -60px;
        width: 350px;
        z-index: 10;
        background-color: white;
        padding: 15px 10px;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

        .about-us-right-element {
            position: absolute;
            bottom: 150px;
            left: 250px;
            z-index: 11;
        }

        .about-us-right-profile {
            position: absolute;
            bottom: 160px;
            right: 320px;
            z-index: 11
        }

        h5 {
            font-weight: 600;
            font-size: 18px;
            color: #222222;


        }

        .about-us-right-p1 {
            color: #444444;
            font-size: 14px;
            line-height: 32px;
            text-align: left;
            width: 350px;

        }

        .about-us-right-p2 {
            color: #666666;
            font-size: 14px;
            line-height: 32px;
            text-align: left;
            width: 350px;
        }
    }

    .about-right-card-2 {
        z-index: 2;
        width: 350px;
        background-color: #F7F8FC;
        padding: 15px 10px;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        position: absolute;
        top: 45px;
        right: 180px;


    }
}

.about-us-right-card-h5 {
    font-weight: 600;
    font-size: 18px;
    color: #666666;
}

.about-us-right-card-p2 {
    color: #666666;
    font-size: 14px;
}


/*--------------------------------------------------- blog ----------------------------------------------------------------*/


.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.blog-span {
    color: #FA7436;
}

.blog-h1 {
    font-family: "Volkhov", serif;
    font-size: 54px;
    padding: 30px 0px;
}

.blog-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.blog-card {
    width: 270px;
    border-radius: 10px;

    h5 {
        font-family: "Poppins", sans-serif;
        color: #222222;
        font-size: 18px;
        font-weight: 500;
    }

    p {
        font-family: "Inter", sans-serif;
        color: #999999;
        line-height: 26px;

    }
}

.r-b {
    border: solid 1px #222222;
    color: #FA7436;
    background-color: #FA7436;
}


/* --------------------------------------------------subscribe----------------------------------------------------------- */

.subcribe {
    position: relative;
    padding: 20px;
}

.subcribe-img1,
.subcribe-img2 {
    position: absolute;
}

.subcribe-img1 {
    left: 250px;
    top: 65px;
}

.subcribe-img2 {
    right: 255px;
    top: 25px;
}

.subscribe-content {
    display: flex;
    justify-self: center;
    background-color: #FA7436;
    flex-direction: column;
    border-radius: 10px;
    width: 700px;
    padding: 50px 100px;

    h1 {
        color: white;
        font-family: "Volkhov", serif;
        font-size: 35px;
        text-align: center;
        padding: 20px 0px;
    }

    .subscribe-btn {
        background-color: #FA7436;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        position: absolute;
        right: 4px;
        top: 3.5px;
        padding: 5px 10px;

    }
}

.email-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.email-button input {

    width: 600px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}











/*----------------------------------------------- footer ------------------------------------------------------------*/


.facebook {

    display: block;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 30px;
    /* fill: white; */
    height: 40px;
    width: 40px;

}

.instagram {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #FA7436;
    /* fill: white; */
    height: 40px;
    width: 40px;

}

.twitter {

    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 40px;
    width: 40px;

}

.facebook:hover,
.twitter:hover,
.instagram:hover {
    cursor: pointer;
    background-color: #FA7436;
    fill: white;

}

.social {
    display: flex;
    gap: 10px;
    padding: 0px 0px 20px;


}

.footer-top {
    display: flex;
    justify-content: space-between;

    .footer-top-l {
        p {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            color: #666666;
            font-weight: 500;
            text-align: left;
            padding: 5px 0px 20px;
        }
    }

}

.footer-top-r {
    display: flex;
    gap: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #666666;


    ul li {
        list-style: none;

        a {
            text-decoration: none;
            color: #666666;
            font-size: 14px;
            padding: 10px 5px;

            &:hover {
                color: #000000;
            }
        }
    }

    ul li:first-child a {
        font-weight: 600;
        color: black;
    }

}

.footer-btm {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #666666;
    padding: 10px 0px;
}